
<div class="w3-panel w3-responsive">
<div class="w3-container w3-margin-bottom">
<h3>Edit a Comment</h3>
  
<%= simple_form_for([@home, @homecomment]) do |f| %>

<div class="col-sm-12">

<%= f.input :content, label: "",:input_html => {:rows => 13,:cols => 105,class: "form-control"}  %>
</br>
<%= f.submit"Edit Comment", :title => "content can't be blank", :rel => 'tooltip',class: "w3-btn w3-blue-grey"%>
 <%= link_to "Back", home_path, class: "w3-button w3-blue-grey" %>

</div>

<% end %>

</div>
</div>



