// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.cardhome { 
  
  height:510px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  }
  

.carduser { 
  
  height:148px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  }
  

  .col-md-6 { overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;}
  
             
 .col-md-9 { overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;}   

  .col-md-7  {overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;}


 .col-md-8  {overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;}       


  .col-md-3 {overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;}

  .col-md-4 {overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;}

  .col-md-5 {overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;}