// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.message {
   position: absolute;
 top:60px;
 left:5px;
  
}
.message1 {
   position: fixed;
 top:61px;
 left:27px;
  
}


.shop_shop_name {
	
	 top:-16px;
 
}